.heading {
    font-size:20px;
    width: 100%;
    margin:0px; 
}

.NOTE {
font-size:15px; 
color:black;

}

body {
background:cover; 

}

.div_speed {
float:right;

}

.div_speed_img {
width: 300px;

border-radius:50px;
}

#speed {
font-size: 20px;
margin:20px;
}

.div_volume {
    float:left;
    
    }
    
    .div_volume_img {
    width: 300px;
 
    border-radius:50px;
    }
    
    #volume {
    font-size: 20px;
    margin:20px;
    }

    .play{
width:100px;
font-size:30px;
    }

    canvas{
border:5px;
border-color: red;
border-style: dotted;
border-radius:20px;
box-shadow: 5px 5px 5px red;
margin-top: 50px;
    }